.App {
  font-family: "Montserrat", sans-serif;
}

.App h1 {
  margin-bottom: 0;
}

.App h1,
.App h2,
.App h3,
.App p {
  text-align: center;
}

.App h2,
.App h3,
.App p,
.App label,
.App .headline-temperature,
.App .icon {
  color: #fff;
}

.App h2 {
  font-size: 60px;
}
.App h3 {
  font-size: 20px;
}

.App p {
  margin: 0;
}
